[data-md-color-scheme="slate"] {
    --md-default-bg-color: #1e2129;
    --md-default-fg-color: hsla(var(--md-hue), 100%, 100%, 0.9);
    .md-typeset h1,
    .md-typeset h3
     {
        
        color: var(--md-accent-fg-color);
    }
    .md-typeset h2,
    .md-typeset h4 {
        color: #00c753;
    }
}

[data-md-color-scheme="default"] {
    --md-default-bg-color: #fafafa;
}
